<tr>
  <td><%= question.content %></td>
  <td>
    <% question.answers.each do |answer| %>
      <%= answer.content if answer.correct? %>
    <% end %>
  </td>
  <td><%= question.created_at %></td>
</tr>
